.products{
   border: 1px solid greenyellow;
   margin-bottom: 40px;
   padding:30px;
   margin-left:25%;
   margin-right: 25%;
   box-shadow:10px 10px 15px grey;
   background-color: white;
   border-radius:10px;
}
body{
    background-color:lightpink;
}
.products h3{
    color:lightsalmon;
}
.products button{
    border:none;
    background-color:tomato;
    padding: 5px;
    border-radius: 5px;
    color:white;
}